extends layout

block content
    - function isEmptyObject(obj) {
    -      var name;
    -      for (name in obj) {
    -        return false;
    -      }
    -      return true;
    -    }

    a(href='/register') Register
    .container
        - if (isEmptyObject(errors) == false)
            p.errorMessage= "The following errors occurred:"
            ul
            - each error in errors
                li= error.msg+" "+error.param
        form.form-signin(name="login", action="/login", method="post")
            h2.form-signin-heading Please sign in
            input.form-control(type='email', name='email', placeholder='Email address', required='', autofocus='')
            input.form-control(type='password', name='password', placeholder='Password')

            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
