extends layout
block content
    h2 Create account
    p Sign in using your registered account
    form(name='register', action='/register', method='post')
        .form-group
            .input-group
                span.input-group-addon
                    i.fa.fa-user.fa-fw
                input.form-control(name='first_name', type='string', placeholder='First name',required='', autofocus='')
        .form-group
            .input-group
                span.input-group-addon
                    i.fa.fa-user.fa-fw
                input.form-control(name='last_name', type='string', placeholder='Last name', required='')
        .form-group
            .input-group
                span.input-group-addon
                    i.fa.fa-user.fa-fw
                input.form-control(name='email', type='email', placeholder='Email', required='')
        .form-group
            .input-group
                span.input-group-addon
                    i.fa.fa-lock.fa-fw
                input.form-control(type='password', placeholder='Password', required='')
        .form-group
            button.btn.btn-success(type='submit') Create account
        hr
        .form-group
            a.btn.btn-primary.btn-lg.btn-block(href='/login') Sign in
