extends ../layout
block content
    .col-md-12
        h1 GROUPS #{title}
        p #{group.name}

        a.btn.btn-success(href='/groups/'+ group.id + '/users/add') Add users

        ul
            each val, index in group.users
                li= val.first_name + ' ' + val.last_name
                                                                                    