extends ../layout
block content
    .col-md-12
        h1 GROUPS #{title}
        p #{group.name}
        
       ul
          each val, index in users
             li= val.first_name + ' ' + val.last_name
                                                                                      